* {
    box-sizing: border-box;
  }
body{
    background-color: aqua ;
}
.container{
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
}
.row{
    width: 100%;
}
.btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;border-radius: 4px;
  }
  
  .btn-succes {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .btn-succes:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .btn-info {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .btn-info:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .btn-danger {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .btn-danger:hover {
    background-color: #f44336;
    color: white;
  }
  
  .btn-light {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .btn-light:hover {background-color: #e7e7e7;}
  
  .btn-dark {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .btn-dark:hover {
    background-color: #555555;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  .alert-danger {
    padding: 10px;
    background-color: #ee7b73;
    color: white;
  }
  .alert-succes {
    padding: 10px;
    background-color: #8ce775;
    color: white;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }